.navbar {
    height: 90px;
    background: $white;
    position: fixed;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  
.nav-image1 {
      align-self: center;
      width: 200px;
      padding: 20px;
    }
  
.nav-image2 {
      align-self: center;
      padding: 0 20px 0 0;
      letter-spacing: 2px;
    }
  }